*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* regole header */
header{
    height: 50px;
    width: 100%;
    color: white;
    font-size: 13px;
    background-color: rgb(255, 105, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

header span{
    padding-right: 5px;
}

.container{
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box{
    width: 20%;
}

.box.logo{
    width: 10%;
}

.box img{
    width: 100%;
}

.icons{
    text-align: right;
}

.icons i{
    padding-left: 10px;
}

/* regole main */
main{
    margin: 50px 0;
}

.card{
    width: 33%;
    margin-top: 40px;
    position: relative;
}

.card img{
    width: 100%;
}

.prezzo-sconto{
    color: red;
    font-weight: 700;
}

/* regole banner sconto-sostenibilità */
.prezzo-standard{
    text-decoration: line-through;
}

.banner-container{
    position: absolute;
    left: 0;
    bottom: 15%;
    color: white;
}

.banner{
    padding: 3px 8px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

/* regole effetto hover su card */
.foto-hover{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.card:hover .foto-hover{
    display: inline-block;
}

/* regole banner cuore */
.banner-cuore{
    position: absolute;
    right: 0;
    top: 1%;
}

.banner-cuore i{
    padding: 15px;
    font-size: 20px;
    background-color: white;
}

/* regole effetto hover su banner cuore */
.banner-cuore i:hover{
    color: red;
    cursor: pointer;
}

/* regole footer */
footer{
    height: 90px;
    background-color: rgb(26, 26, 26);
    color: white;
    font-size: 15px;
}

footer h4{
    margin-bottom: 10px;
    font-size: 15px;
}

.dettagli-azienda{
    font-size: 13px;
}

.dettagli-azienda a{
    margin-right: 7px;
}

.social{
    text-align: center;
}

.social i{
    padding: 3px;
}

/* regole link */
a{
    text-decoration: none;
    color: white;
}

main a{
    color: black;
}

a:hover{
    text-decoration: underline;
}