*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

header a{
    color: white;
}

header{
    height: 50px;
    color: white;
    font-size: 13px;
    background-color: rgb(255, 105, 0);
}

.container{
    width: 80%;
    justify-content: space-between;
}

.box{
    width: 20%;
}

.box.logo{
    width: 10%;
}

.box img{
    width: 100%;
}

.icons{
    text-align: right;
}

.icons i{
    margin-left: 10px;
}

/* regole main */
.card{
    width: 33%;
    margin-top: 10px;
    /* debug */
    min-height: 400px;
    background-color: aquamarine;
}