*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

main a{
    color: black;
}

/* regole header */
header{
    height: 50px;
    color: white;
    font-size: 13px;
    background-color: rgb(255, 105, 0);
}

header span{
    padding-right: 5px;
}

.container{
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box{
    width: 20%;
}

.box.logo{
    width: 10%;
}

.box img{
    width: 100%;
}

.icons{
    text-align: right;
}

.icons i{
    padding-left: 10px;
}

/* regole main */
.card{
    width: 33%;
    margin-top: 40px;
}

.card img{
    width: 100%;
}

h5{
    display: inline-block;
}

.prezzo-sconto{
    color: red;
    font-weight: 700;
}

.prezzo-standard{
    text-decoration: line-through;
}

/* regole footer */
footer{
    margin-top: 40px;
    height: 90px;
    background-color: rgb(26, 26, 26);
    color: white;
    font-size: 15px;
}

footer h4{
    margin-bottom: 10px;
    font-size: 15px;
}

.dettagli-azienda{
    font-size: 13px;
}

.social{
    text-align: center;
}

.social i{
    padding: 3px;
}
